body{
    margin: 0;
}
h1{
    text-align: center;
    text-decoration: underline;
}
.first {
    width: 300px;
    height: 300px;
    background-color: blue;
}
.second{
    width: 100px;
    height: 100px;
    background-color: chartreuse;
    transform: translate(100px, 100px);
    transition: 3s;   
}
.second:hover{
    transform: rotate(45deg);
}